<div class="home__container">
	<app-card
		gameCover="assets/pexels-pixabay-164936.jpg"
		gameLabel="SAXOPHONE"
		gameType="NEW MODEL |"
		gamePrice="R$ 5429,99"
	>
	</app-card>
	<app-card
		gameCover="assets/pexels-juan-pablo-serrano-arenas-1021142.jpg"
		gameLabel="PIANO"
		gameType="CLASSIC |"
		gamePrice="R$ 12.669,99"
	>
	</app-card>
	<app-card
		gameCover="assets/pexels-hồ-thành-11018964.jpg"
		gameLabel="DRUM"
		gameType="BASIC |"
		gamePrice="R$ 3369,99"
		>
	</app-card>
	<app-card
		gameCover="assets/pexels-mateusz-taciak-7334396.jpg"
		gameLabel="GUITTAR"
		gameType="NEW MODEL |"
		gamePrice="R$ 3069,99"
	>
	</app-card>
</div>

